[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
